## Tias Data Engineering
Exercise 3: casting the data types

In [16]:
#importing the pandas library
import pandas as pd

In [17]:
corona_data_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-19-2020.csv"
df = pd.read_csv(corona_data_url)

In [18]:
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-19T10:13:14,67800,3130,57682,30.9756,112.2707
1,NaN,Italy,2020-03-19T17:43:03,41035,3405,4440,41.8719,12.5674
2,NaN,Iran,2020-03-19T11:33:29,18407,1284,5710,32.4279,53.6880
3,NaN,Spain,2020-03-19T20:13:08,17963,830,1107,40.4637,-3.7492
4,NaN,Germany,2020-03-19T20:13:08,15320,44,113,51.1657,10.4515

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  133 non-null    object
 1   Country/Region  292 non-null    object
 2   Last Update     292 non-null    object
 3   Confirmed       292 non-null    int64
 4   Deaths          292 non-null    int64
 5   Recovered       292 non-null    int64
 6   Latitude        292 non-null    float64
 7   Longitude       292 non-null    float64
dtypes: float64(2), int64(3), object(3)
memory usage: 18.4+ KB

### Converting datatypes?

we are going to cast column 2: Last Update to datetime

In [20]:
# Excercise: fill in on the dots the name of the column that you want to cast as date

df['Last Update'] = pd.to_datetime(df['Last Update'])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  133 non-null    object
 1   Country/Region  292 non-null    object
 2   Last Update     292 non-null    datetime64[ns]
 3   Confirmed       292 non-null    int64
 4   Deaths          292 non-null    int64
 5   Recovered       292 non-null    int64
 6   Latitude        292 non-null    float64
 7   Longitude       292 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 18.4+ KB

In [22]:
#now that the column is a DateTime type, we can simply get the year portion
df['Last Update'].max().year

2020