## Tias Data Engineering
Exercise 5: Filtering and Selecting

In [1]:
#importing the pandas library
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
corona_data_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-19-2020.csv"
df = pd.read_csv(corona_data_url)
df['Last Update'] = pd.to_datetime(df['Last Update'])

### Filtering and selecting

getting values, subsets and aggregations:

In [3]:
#selecting one column:
df['Country/Region']

0                      China
1                      Italy
2                       Iran
3                      Spain
4                    Germany
               ...
287                   Jersey
288              Puerto Rico
289    Republic of the Congo
290              The Bahamas
291               The Gambia
Name: Country/Region, Length: 292, dtype: object

In [4]:
#selecting row 10 - 20
df.iloc[10:20]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
10,Netherlands,Netherlands,2020-03-19 14:53:06,2460,76,2,52.1326,5.2913
11,NaN,Austria,2020-03-19 14:53:05,2013,6,9,47.5162,14.5501
12,NaN,Belgium,2020-03-19 11:13:17,1795,21,31,50.5039,4.4699
13,NaN,Norway,2020-03-19 17:13:14,1746,7,1,60.4720,8.4689
14,NaN,Sweden,2020-03-19 15:13:27,1439,11,16,60.1282,18.6435
15,Guangdong,China,2020-03-19 01:13:06,1378,8,1318,23.3417,113.4244
16,Washington,US,2020-03-19 23:43:04,1376,74,0,47.4009,-121.4905
17,Henan,China,2020-03-14 09:53:08,1273,22,1250,33.8820,113.6140
18,Zhejiang,China,2020-03-19 10:13:14,1233,1,1217,29.1832,120.0934
19,Denmark,Denmark,2020-03-19 17:13:42,1151,6,1,56.2639,9.5018

In [5]:
# select the last 10 rows
df.iloc[-10:]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
282,Mayotte,France,2020-03-18 14:33:15,0,0,0,-12.8431,45.1383
283,Reunion,France,2020-03-18 14:33:15,0,0,0,-21.1351,55.2471
284,NaN,Greenland,2020-03-19 09:33:04,0,0,0,72.0000,-40.0000
285,NaN,Guam,2020-03-18 19:14:33,0,0,0,13.4443,144.7937
286,NaN,Guernsey,2020-03-17 18:33:03,0,0,0,49.4500,-2.5800
287,NaN,Jersey,2020-03-17 18:33:03,0,0,0,49.1900,-2.1100
288,NaN,Puerto Rico,2020-03-17 16:13:14,0,0,0,18.2000,-66.5000
289,NaN,Republic of the Congo,2020-03-17 21:33:03,0,0,0,-1.4400,15.5560
290,NaN,The Bahamas,2020-03-19 12:13:38,0,0,0,24.2500,-76.0000
291,NaN,The Gambia,2020-03-18 14:13:56,0,0,0,13.4667,-16.6000

In [6]:
#filter rows on value:
df[df['Confirmed']<10]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
210,Grand Princess,Canada,2020-03-18 11:53:04,9,0,0,37.6489,-122.6655
211,NaN,Cote d'Ivoire,2020-03-19 01:03:46,9,0,1,7.5400,-5.5471
212,NaN,Guatemala,2020-03-19 17:13:24,9,1,0,15.7835,-90.2308
213,NaN,Trinidad and Tobago,2020-03-19 10:53:03,9,0,0,10.6918,-61.2225
214,Alaska,US,2020-03-19 02:33:09,9,0,0,61.3707,-152.4044
...,...,...,...,...,...,...,...,...
287,NaN,Jersey,2020-03-17 18:33:03,0,0,0,49.1900,-2.1100
288,NaN,Puerto Rico,2020-03-17 16:13:14,0,0,0,18.2000,-66.5000
289,NaN,Republic of the Congo,2020-03-17 21:33:03,0,0,0,-1.4400,15.5560
290,NaN,The Bahamas,2020-03-19 12:13:38,0,0,0,24.2500,-76.0000
291,NaN,The Gambia,2020-03-18 14:13:56,0,0,0,13.4667,-16.6000

In the news was that Italy has more deaths than China now, let's check that:

In [7]:
df[(df['Country/Region'] == 'Italy') | (df['Country/Region'] == 'China')]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-19 10:13:14,67800,3130,57682,30.9756,112.2707
1,NaN,Italy,2020-03-19 17:43:03,41035,3405,4440,41.8719,12.5674
15,Guangdong,China,2020-03-19 01:13:06,1378,8,1318,23.3417,113.4244
17,Henan,China,2020-03-14 09:53:08,1273,22,1250,33.8820,113.6140
18,Zhejiang,China,2020-03-19 10:13:14,1233,1,1217,29.1832,120.0934
20,Hunan,China,2020-03-14 08:33:03,1018,4,1014,27.6104,111.7088
21,Anhui,China,2020-03-11 02:18:14,990,6,984,31.8257,117.2264
23,Jiangxi,China,2020-03-12 02:13:04,935,1,934,27.6140,115.7221
27,Shandong,China,2020-03-19 01:02:56,761,7,747,36.3427,118.1498
32,Jiangsu,China,2020-03-15 01:53:02,631,0,631,32.9711,119.4550
34,Chongqing,China,2020-03-15 03:53:04,576,6,570,30.0572,107.8740
36,Sichuan,China,2020-03-19 10:13:14,540,3,536,30.6171,102.7103
37,Heilongjiang,China,2020-03-19 01:02:56,483,13,460,47.8620,127.7615
38,Beijing,China,2020-03-19 05:13:10,480,8,380,40.1824,116.4142
46,Shanghai,China,2020-03-19 01:02:56,363,3,326,31.2020,121.4491
53,Hebei,China,2020-03-13 11:09:03,318,6,310,38.0428,114.5149
56,Fujian,China,2020-03-11 02:18:14,296,1,295,26.0789,117.9874
68,Guangxi,China,2020-03-18 00:33:02,253,2,250,23.8298,108.7881
69,Shaanxi,China,2020-03-18 03:53:02,246,3,237,35.1917,108.8701
74,Hong Kong,China,2020-03-19 09:53:20,208,4,95,22.3000,114.2000
81,Yunnan,China,2020-03-16 23:53:02,176,2,172,24.9740,101.4870
82,Hainan,China,2020-03-16 14:38:45,168,6,161,19.1959,109.7453
89,Guizhou,China,2020-03-18 01:53:03,146,2,144,26.8154,106.8748
92,Tianjin,China,2020-03-19 23:43:03,137,3,133,39.3054,117.3230
93,Gansu,China,2020-03-19 14:33:08,134,2,91,36.0611,103.8343
94,Shanxi,China,2020-03-13 11:09:03,133,0,133,37.5777,112.2922
95,Liaoning,China,2020-03-18 02:13:06,125,1,122,41.2956,122.6085
115,Jilin,China,2020-03-16 00:22:10,93,1,92,43.6661,126.1923
125,Xinjiang,China,2020-03-11 02:18:14,76,3,73,41.1129,85.2401
127,Inner Mongolia,China,2020-03-19 01:03:02,75,1,74,44.0935,113.9448
128,Ningxia,China,2020-03-16 14:38:45,75,0,75,37.2692,106.1655
181,Qinghai,China,2020-03-11 02:18:14,18,0,18,35.7452,95.9956
186,Macau,China,2020-03-19 01:02:56,17,0,10,22.1667,113.5500
262,Tibet,China,2020-03-11 02:18:14,1,0,1,31.6927,88.0924

Ow, but there are also regional numbers in for China. We have to group those

In [8]:
# Exercise: find the function to group by 
df.groupby('Country/Region').sum().sort_values('Deaths', ascending=False)

                Confirmed  Deaths  Recovered   Latitude  Longitude
Country/Region
Italy               41035    3405       4440    41.8719    12.5674
China               81156    3249      70535  1080.0817  3685.5800
Iran                18407    1284       5710    32.4279    53.6880
Spain               17963     830       1107    40.4637    -3.7492
France              10886     243         12    29.8862  -121.6564
...                   ...     ...        ...        ...        ...
Georgia                40       0          1    42.3154    43.3569
Gambia, The             1       0          0    13.4432   -15.3101
Gabon                   1       0          0    -0.8037    11.6094
French Guiana          11       0          0     3.9339   -53.1258
Zambia                  2       0          0   -13.1339    27.8493

[168 rows x 5 columns]

This Country and Region has the most deaths:

In [9]:
df[df['Deaths'] == df['Deaths'].max()]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
1,NaN,Italy,2020-03-19 17:43:03,41035,3405,4440,41.8719,12.5674

Now try to answer: Where am I still safe?

In [10]:
#Exercise: fill in on the dots
df[df['Confirmed'] == df['Confirmed'].min()]
#this is not per se safe of course, but at least not close to confirmed cases, assuming everywhere tests are being performed, etc. etc.

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
279,From Diamond Princess,Australia,2020-03-14 02:33:04,0,0,0,35.4437,139.6380
280,French Guiana,France,2020-03-18 14:33:15,0,0,0,4.0000,-53.0000
281,Guadeloupe,France,2020-03-18 14:33:15,0,0,0,16.2500,-61.5833
282,Mayotte,France,2020-03-18 14:33:15,0,0,0,-12.8431,45.1383
283,Reunion,France,2020-03-18 14:33:15,0,0,0,-21.1351,55.2471
284,NaN,Greenland,2020-03-19 09:33:04,0,0,0,72.0000,-40.0000
285,NaN,Guam,2020-03-18 19:14:33,0,0,0,13.4443,144.7937
286,NaN,Guernsey,2020-03-17 18:33:03,0,0,0,49.4500,-2.5800
287,NaN,Jersey,2020-03-17 18:33:03,0,0,0,49.1900,-2.1100
288,NaN,Puerto Rico,2020-03-17 16:13:14,0,0,0,18.2000,-66.5000
289,NaN,Republic of the Congo,2020-03-17 21:33:03,0,0,0,-1.4400,15.5560
290,NaN,The Bahamas,2020-03-19 12:13:38,0,0,0,24.2500,-76.0000
291,NaN,The Gambia,2020-03-18 14:13:56,0,0,0,13.4667,-16.6000