## Tias Data Engineering
Exercise 6: More filtering and Selecting

In [1]:
#importing the pandas library
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
corona_data_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-19-2020.csv"
df = pd.read_csv(corona_data_url)
df['Last Update'] = pd.to_datetime(df['Last Update'])

In [6]:
worldbank_data = "http://wdi.worldbank.org/AjaxDownload/FileDownloadHandler.ashx?filename=WV.1_Size_of_the_economy.xls&filetype=excel"
df_wb = pd.read_excel(worldbank_data)

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [3]:
#selecting one column:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  133 non-null    object
 1   Country/Region  292 non-null    object
 2   Last Update     292 non-null    datetime64[ns]
 3   Confirmed       292 non-null    int64
 4   Deaths          292 non-null    int64
 5   Recovered       292 non-null    int64
 6   Latitude        292 non-null    float64
 7   Longitude       292 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 18.4+ KB

### Joining renaming and saving

In [4]:
#select columns Confirmed & Country/Region
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-19 10:13:14,67800,3130,57682,30.9756,112.2707
1,NaN,Italy,2020-03-19 17:43:03,41035,3405,4440,41.8719,12.5674
2,NaN,Iran,2020-03-19 11:33:29,18407,1284,5710,32.4279,53.6880
3,NaN,Spain,2020-03-19 20:13:08,17963,830,1107,40.4637,-3.7492
4,NaN,Germany,2020-03-19 20:13:08,15320,44,113,51.1657,10.4515
...,...,...,...,...,...,...,...,...
287,NaN,Jersey,2020-03-17 18:33:03,0,0,0,49.1900,-2.1100
288,NaN,Puerto Rico,2020-03-17 16:13:14,0,0,0,18.2000,-66.5000
289,NaN,Republic of the Congo,2020-03-17 21:33:03,0,0,0,-1.4400,15.5560
290,NaN,The Bahamas,2020-03-19 12:13:38,0,0,0,24.2500,-76.0000
291,NaN,The Gambia,2020-03-18 14:13:56,0,0,0,13.4667,-16.6000