## Tias Data Engineering
Loading Some Data

In [1]:
#importing the pandas library
import pandas as pd

In [2]:
corona_data_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-18-2020.csv"
df = pd.read_csv(corona_data_url)

In [3]:
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-18T12:13:09,67800,3122,56927,30.9756,112.2707
1,NaN,Italy,2020-03-18T17:33:05,35713,2978,4025,41.8719,12.5674
2,NaN,Iran,2020-03-18T12:33:02,17361,1135,5389,32.4279,53.6880
3,NaN,Spain,2020-03-18T13:13:13,13910,623,1081,40.4637,-3.7492
4,NaN,Germany,2020-03-18T19:33:02,12327,28,105,51.1657,10.4515

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  130 non-null    object
 1   Country/Region  284 non-null    object
 2   Last Update     284 non-null    object
 3   Confirmed       284 non-null    int64
 4   Deaths          284 non-null    int64
 5   Recovered       284 non-null    int64
 6   Latitude        284 non-null    float64
 7   Longitude       284 non-null    float64
dtypes: float64(2), int64(3), object(3)
memory usage: 17.9+ KB

### What are the data types?

look at the output above: what should the datatypes in the dataset be?   
answer like this: ColumnName : Float, ColumnName : Boolean, ColumnName : AnotherDataType

DataTypes | Examples
--- | ---
List | [1,2,3,4,6]  
Dictionary | {“blue”:23,”red”:27}
Geo-Coordinate | (52.23473882,5.27388282)
Boolean | True, False, True, False
Numerical (integer)    &nbsp;&nbsp; | 1,2,3,4,5,3
Strings | “orange”, “blue”, “blue”, “yellow”
Binary | 10010011101001000001010011
Floating point | 3.14159, 1.000, 400.2
Date | 2020-03-20, 2020-05-29, 2021-03-22
DateTime | 2020-03-20 10:46, 2018-12-05 18:30

In [ ]:
# use this block to write down your answer, copy paste it in the Zoom Chat