## Tias Data Engineering
Exercise 7: Transforming Data

In [1]:
#importing the pandas library
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
corona_data_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-26-2020.csv"
df = pd.read_csv(corona_data_url)
df['Last_Update'] = pd.to_datetime(df['Last_Update'])

In [3]:
#show dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421 entries, 0 to 3420
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FIPS            3149 non-null   float64
 1   Admin2          3166 non-null   object
 2   Province_State  3250 non-null   object
 3   Country_Region  3421 non-null   object
 4   Last_Update     3421 non-null   datetime64[ns]
 5   Lat             3421 non-null   float64
 6   Long_           3421 non-null   float64
 7   Confirmed       3421 non-null   int64
 8   Deaths          3421 non-null   int64
 9   Recovered       3421 non-null   int64
 10  Active          3421 non-null   int64
 11  Combined_Key    3421 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(4), object(4)
memory usage: 320.8+ KB

### transforming data

- using columns
- using replace
- using apply

In [4]:
#bepaal het percentage van het aantal bevestigde gevallen dat overlijdt

df['overlijdingspercentage'] = df['Deaths'] / df['Confirmed'] * 100

In [5]:
df.head(50)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,overlijdingspercentage
0,45001.0,Abbeville,South Carolina,US,2020-03-26 23:48:35,34.223334,-82.461707,3,0,0,0,"Abbeville, South Carolina, US",0.000000
1,22001.0,Acadia,Louisiana,US,2020-03-26 23:48:35,30.295065,-92.414197,3,0,0,0,"Acadia, Louisiana, US",0.000000
2,51001.0,Accomack,Virginia,US,2020-03-26 23:48:35,37.767072,-75.632346,2,0,0,0,"Accomack, Virginia, US",0.000000
3,16001.0,Ada,Idaho,US,2020-03-26 23:48:35,43.452658,-116.241552,39,0,0,0,"Ada, Idaho, US",0.000000
4,19001.0,Adair,Iowa,US,2020-03-26 23:48:35,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US",0.000000
5,21001.0,Adair,Kentucky,US,2020-03-26 23:48:35,37.104598,-85.281297,0,0,0,0,"Adair, Kentucky, US",NaN
6,29001.0,Adair,Missouri,US,2020-03-26 23:48:35,40.190586,-92.600782,1,0,0,0,"Adair, Missouri, US",0.000000
7,40001.0,Adair,Oklahoma,US,2020-03-26 23:48:35,35.884942,-94.658593,2,0,0,0,"Adair, Oklahoma, US",0.000000
8,8001.0,Adams,Colorado,US,2020-03-26 23:48:35,39.874321,-104.336258,50,0,0,0,"Adams, Colorado, US",0.000000
9,16003.0,Adams,Idaho,US,2020-03-26 23:48:35,44.893336,-116.454525,0,0,0,0,"Adams, Idaho, US",NaN
10,17001.0,Adams,Illinois,US,2020-03-26 23:48:35,39.988156,-91.187868,1,0,0,0,"Adams, Illinois, US",0.000000
11,18001.0,Adams,Indiana,US,2020-03-26 23:48:35,40.745765,-84.936714,1,0,0,0,"Adams, Indiana, US",0.000000
12,19003.0,Adams,Iowa,US,2020-03-26 23:48:35,41.029036,-94.699326,0,0,0,0,"Adams, Iowa, US",NaN
13,28001.0,Adams,Mississippi,US,2020-03-26 23:48:35,31.476698,-91.353260,3,0,0,0,"Adams, Mississippi, US",0.000000
14,31001.0,Adams,Nebraska,US,2020-03-26 23:48:35,40.524494,-98.501178,1,0,0,0,"Adams, Nebraska, US",0.000000
15,38001.0,Adams,North Dakota,US,2020-03-26 23:48:35,46.096869,-102.528540,0,0,0,0,"Adams, North Dakota, US",NaN
16,39001.0,Adams,Ohio,US,2020-03-26 23:48:35,38.845411,-83.471896,0,0,0,0,"Adams, Ohio, US",NaN
17,42001.0,Adams,Pennsylvania,US,2020-03-26 23:48:35,39.871404,-77.216103,7,0,0,0,"Adams, Pennsylvania, US",0.000000
18,53001.0,Adams,Washington,US,2020-03-26 23:48:35,46.982998,-118.560173,3,0,0,0,"Adams, Washington, US",0.000000
19,55001.0,Adams,Wisconsin,US,2020-03-26 23:48:35,43.969747,-89.767828,0,0,0,0,"Adams, Wisconsin, US",NaN
20,50001.0,Addison,Vermont,US,2020-03-26 23:48:35,44.032173,-73.141309,12,0,0,0,"Addison, Vermont, US",0.000000
21,45003.0,Aiken,South Carolina,US,2020-03-26 23:48:35,33.543380,-81.636454,2,0,0,0,"Aiken, South Carolina, US",0.000000
22,27001.0,Aitkin,Minnesota,US,2020-03-26 23:48:35,46.609620,-93.411683,0,0,0,0,"Aitkin, Minnesota, US",NaN
23,12001.0,Alachua,Florida,US,2020-03-26 23:48:35,29.678665,-82.359282,49,0,0,0,"Alachua, Florida, US",0.000000
24,37001.0,Alamance,North Carolina,US,2020-03-26 23:48:35,36.043470,-79.399761,4,0,0,0,"Alamance, North Carolina, US",0.000000
25,6001.0,Alameda,California,US,2020-03-26 23:48:35,37.646294,-121.892927,178,4,0,0,"Alameda, California, US",2.247191
26,8003.0,Alamosa,Colorado,US,2020-03-26 23:48:35,37.572506,-105.788545,0,0,0,0,"Alamosa, Colorado, US",NaN
27,36001.0,Albany,New York,US,2020-03-26 23:48:35,42.600603,-73.977239,171,0,0,0,"Albany, New York, US",0.000000
28,56001.0,Albany,Wyoming,US,2020-03-26 23:48:35,41.654987,-105.723541,1,0,0,0,"Albany, Wyoming, US",0.000000
29,51003.0,Albemarle,Virginia,US,2020-03-26 23:48:35,38.020807,-78.554811,6,0,0,0,"Albemarle, Virginia, US",0.000000
30,26001.0,Alcona,Michigan,US,2020-03-26 23:48:35,44.684686,-83.595079,0,0,0,0,"Alcona, Michigan, US",NaN
31,28003.0,Alcorn,Mississippi,US,2020-03-26 23:48:35,34.880845,-88.579962,0,0,0,0,"Alcorn, Mississippi, US",NaN
32,2013.0,Aleutians East,Alaska,US,2020-03-26 23:48:35,55.322224,-161.972202,0,0,0,0,"Aleutians East, Alaska, US",NaN
33,2016.0,Aleutians West,Alaska,US,2020-03-26 23:48:35,52.725411,-110.408643,0,0,0,0,"Aleutians West, Alaska, US",NaN
34,17003.0,Alexander,Illinois,US,2020-03-26 23:48:35,37.180493,-89.329108,0,0,0,0,"Alexander, Illinois, US",NaN
35,37003.0,Alexander,North Carolina,US,2020-03-26 23:48:35,35.922380,-81.177519,0,0,0,0,"Alexander, North Carolina, US",NaN
36,51510.0,Alexandria,Virginia,US,2020-03-26 23:48:35,38.814003,-77.081831,14,0,0,0,"Alexandria, Virginia, US",0.000000
37,40003.0,Alfalfa,Oklahoma,US,2020-03-26 23:48:35,36.730906,-98.324085,0,0,0,0,"Alfalfa, Oklahoma, US",NaN
38,26003.0,Alger,Michigan,US,2020-03-26 23:48:35,46.412929,-86.602601,0,0,0,0,"Alger, Michigan, US",NaN
39,19005.0,Allamakee,Iowa,US,2020-03-26 23:48:35,43.283832,-91.378609,7,0,0,0,"Allamakee, Iowa, US",0.000000
40,26005.0,Allegan,Michigan,US,2020-03-26 23:48:35,42.591470,-85.891029,1,0,0,0,"Allegan, Michigan, US",0.000000
41,24001.0,Allegany,Maryland,US,2020-03-26 23:48:35,39.623576,-78.692805,0,0,0,0,"Allegany, Maryland, US",NaN
42,36003.0,Allegany,New York,US,2020-03-26 23:48:35,42.257484,-78.027505,2,0,0,0,"Allegany, New York, US",0.000000
43,37005.0,Alleghany,North Carolina,US,2020-03-26 23:48:35,36.493609,-81.128570,0,0,0,0,"Alleghany, North Carolina, US",NaN
44,51005.0,Alleghany,Virginia,US,2020-03-26 23:48:35,37.786361,-80.002225,0,0,0,0,"Alleghany, Virginia, US",NaN
45,42003.0,Allegheny,Pennsylvania,US,2020-03-26 23:48:35,40.468099,-79.981677,133,2,0,0,"Allegheny, Pennsylvania, US",1.503759
46,18003.0,Allen,Indiana,US,2020-03-26 23:48:35,41.091943,-85.068006,8,1,0,0,"Allen, Indiana, US",12.500000
47,20001.0,Allen,Kansas,US,2020-03-26 23:48:35,37.885830,-95.300308,0,0,0,0,"Allen, Kansas, US",NaN
48,21003.0,Allen,Kentucky,US,2020-03-26 23:48:35,36.751976,-86.194575,1,0,0,0,"Allen, Kentucky, US",0.000000
49,22003.0,Allen,Louisiana,US,2020-03-26 23:48:35,30.653857,-92.824420,5,0,0,0,"Allen, Louisiana, US",0.000000

In [6]:
#sorteer op overlijdingspercentage (sort_values) en laat een lijst zien van de top 10 regio's

top10 = df.sort_values(by='overlijdingspercentage', ascending = False).iloc[:10][['overlijdingspercentage', 'Province_State']]

In [7]:
top10

      overlijdingspercentage    Province_State
2868                     inf          New York
3178                     inf  Diamond Princess
2855                     inf            Alaska
2856                     inf           Arizona
1009                   100.0              Ohio
2866                   100.0            Nevada
2555                   100.0           Indiana
2225                   100.0      South Dakota
429                    100.0         Louisiana
2132                   100.0             Texas

In [8]:
#vervang 'US' in de kolom Country_Region door 'United States'
df['Country_Region'] = df['Country_Region'].replace("US", "United States")

In [9]:
#groepeer de dataframe op Country_Region, en tel alle getallen op
df_grouped = df.groupby('Country_Region').sum()

In [10]:
df_grouped.head(10)

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,overlijdingspercentage
Country_Region,,,,,,,,
Afghanistan,0.0,33.93911,67.709953,94,4,2,88,4.255319
Albania,0.0,41.15330,20.168300,174,6,17,151,3.448276
Algeria,0.0,28.03390,1.659600,367,25,29,313,6.811989
Andorra,0.0,42.50630,1.521800,224,3,1,220,1.339286
Angola,0.0,-11.20270,17.873900,4,0,0,4,0.000000
Antigua and Barbuda,0.0,17.06080,-61.796400,7,0,0,7,0.000000
Argentina,0.0,-38.41610,-63.616700,502,9,63,430,1.792829
Armenia,0.0,40.06910,45.038200,290,1,18,271,0.344828
Australia,0.0,-256.85020,1130.843900,2810,13,172,2625,2.219805
Austria,0.0,47.51620,14.550100,6909,49,112,6748,0.709220

In [11]:
#maak een extra kolom VeelOfWeinig waarin landen met veel Bestigde patienten het label 'veel' krijgt, en anderen 'weinig'
df_grouped['VeelOfWeinig'] = df_grouped['Confirmed'].apply(lambda x: "veel" if (x > 500) else "weinig")

In [12]:
df_grouped.head(50)

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,overlijdingspercentage,VeelOfWeinig
Country_Region,,,,,,,,,
Afghanistan,0.0,33.939110,67.709953,94,4,2,88,4.255319,weinig
Albania,0.0,41.153300,20.168300,174,6,17,151,3.448276,weinig
Algeria,0.0,28.033900,1.659600,367,25,29,313,6.811989,weinig
Andorra,0.0,42.506300,1.521800,224,3,1,220,1.339286,weinig
Angola,0.0,-11.202700,17.873900,4,0,0,4,0.000000,weinig
Antigua and Barbuda,0.0,17.060800,-61.796400,7,0,0,7,0.000000,weinig
Argentina,0.0,-38.416100,-63.616700,502,9,63,430,1.792829,veel
Armenia,0.0,40.069100,45.038200,290,1,18,271,0.344828,weinig
Australia,0.0,-256.850200,1130.843900,2810,13,172,2625,2.219805,veel
Austria,0.0,47.516200,14.550100,6909,49,112,6748,0.709220,veel
Azerbaijan,0.0,40.143100,47.576900,122,3,15,104,2.459016,weinig
Bahamas,0.0,25.025885,-78.035889,9,0,1,8,0.000000,weinig
Bahrain,0.0,26.027500,50.550000,458,4,204,250,0.873362,weinig
Bangladesh,0.0,23.685000,90.356300,44,5,11,28,11.363636,weinig
Barbados,0.0,13.193900,-59.543200,18,0,0,18,0.000000,weinig
Belarus,0.0,53.709800,27.953400,86,0,29,57,0.000000,weinig
Belgium,0.0,50.833300,4.469936,6235,220,675,5340,3.528468,veel
Belize,0.0,17.189900,-88.497600,2,0,0,2,0.000000,weinig
Benin,0.0,9.307700,2.315800,6,0,0,6,0.000000,weinig
Bhutan,0.0,27.514200,90.433600,2,0,0,2,0.000000,weinig
Bolivia,0.0,-16.290200,-63.588700,43,0,0,43,0.000000,weinig
Bosnia and Herzegovina,0.0,43.915900,17.679100,191,3,2,186,1.570681,weinig
Brazil,0.0,-14.235000,-51.925300,2985,77,6,2902,2.579564,veel
Brunei,0.0,4.535300,114.727700,114,0,5,109,0.000000,weinig
Bulgaria,0.0,42.733900,25.485800,264,3,8,253,1.136364,weinig
Burkina Faso,0.0,12.238300,-1.561600,152,7,10,135,4.605263,weinig
Cabo Verde,0.0,16.538800,-23.041800,4,1,0,3,25.000000,weinig
Cambodia,0.0,11.550000,104.916700,96,0,10,86,0.000000,weinig
Cameroon,0.0,3.848000,11.502100,75,1,2,72,1.333333,weinig
Canada,0.0,638.555800,-1119.490300,4042,38,184,0,inf,veel
Central African Republic,0.0,6.611100,20.939400,3,0,0,3,0.000000,weinig
Chad,0.0,15.454200,18.732200,3,0,0,3,0.000000,weinig
Chile,0.0,-35.675100,-71.543000,1306,4,22,1280,0.306279,veel
China,0.0,1083.336700,3684.419700,81782,3291,74181,4310,38.090926,veel
Colombia,0.0,4.570900,-74.297300,491,6,8,477,1.221996,weinig
Congo (Brazzaville),0.0,-4.263400,15.283200,4,0,0,4,0.000000,weinig
Congo (Kinshasa),0.0,-4.322447,15.307045,51,3,0,48,5.882353,weinig
Costa Rica,0.0,9.748900,-83.753400,231,2,2,227,0.865801,weinig
Cote d'Ivoire,0.0,7.540000,-5.547100,96,0,3,93,0.000000,weinig
Croatia,0.0,45.100000,15.200000,495,3,22,470,0.606061,weinig
Cuba,0.0,21.521757,-77.781167,67,2,1,64,2.985075,weinig
Cyprus,0.0,35.126400,33.429900,146,3,4,139,2.054795,weinig
Czechia,0.0,49.817500,15.473000,1925,9,10,1906,0.467532,veel
Denmark,0.0,189.863400,-40.014300,2023,41,50,1932,2.184337,veel
Diamond Princess,0.0,0.000000,0.000000,712,10,597,105,1.404494,veel
Djibouti,0.0,11.825100,42.590300,11,0,0,11,0.000000,weinig
Dominica,0.0,15.415000,-61.371000,11,0,0,11,0.000000,weinig
Dominican Republic,0.0,18.735700,-70.162700,488,10,3,475,2.049180,weinig
Ecuador,0.0,-1.831200,-78.183400,1403,34,3,1366,2.423378,veel
Egypt,0.0,26.820553,30.802498,495,24,102,369,4.848485,weinig

In [13]:
#definieer de functie om een getal door duizend te delen
def delenDoorDuizend(getal):
    return getal/1000.0

In [14]:
# pas de functie delenDoorDuizend toe op de kolom Confirmed, en sla deze ook weer op in de kolom Confirmed
df_grouped['Confirmed'] = df_grouped['Confirmed'].apply(lambda x: delenDoorDuizend(x))

In [15]:
df_grouped.head(10)

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,overlijdingspercentage,VeelOfWeinig
Country_Region,,,,,,,,,
Afghanistan,0.0,33.93911,67.709953,0.094,4,2,88,4.255319,weinig
Albania,0.0,41.15330,20.168300,0.174,6,17,151,3.448276,weinig
Algeria,0.0,28.03390,1.659600,0.367,25,29,313,6.811989,weinig
Andorra,0.0,42.50630,1.521800,0.224,3,1,220,1.339286,weinig
Angola,0.0,-11.20270,17.873900,0.004,0,0,4,0.000000,weinig
Antigua and Barbuda,0.0,17.06080,-61.796400,0.007,0,0,7,0.000000,weinig
Argentina,0.0,-38.41610,-63.616700,0.502,9,63,430,1.792829,veel
Armenia,0.0,40.06910,45.038200,0.290,1,18,271,0.344828,weinig
Australia,0.0,-256.85020,1130.843900,2.810,13,172,2625,2.219805,veel
Austria,0.0,47.51620,14.550100,6.909,49,112,6748,0.709220,veel