## Tias Data Engineering
Exercise 6: More filtering and Selecting

In [1]:
#importing the pandas library
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
corona_data_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-26-2020.csv"
df = pd.read_csv(corona_data_url)
df['Last_Update'] = pd.to_datetime(df['Last_Update'])

In [3]:
worldbank_data = "https://raw.githubusercontent.com/gnireot/tias_data_engineering/master/worldbank_data.csv"
df_wb = pd.read_csv(worldbank_data)
df_wb['Population'] = pd.to_numeric(df_wb['Population'], errors='coerce')

In [4]:
#selecting one column:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421 entries, 0 to 3420
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FIPS            3149 non-null   float64
 1   Admin2          3166 non-null   object
 2   Province_State  3250 non-null   object
 3   Country_Region  3421 non-null   object
 4   Last_Update     3421 non-null   datetime64[ns]
 5   Lat             3421 non-null   float64
 6   Long_           3421 non-null   float64
 7   Confirmed       3421 non-null   int64
 8   Deaths          3421 non-null   int64
 9   Recovered       3421 non-null   int64
 10  Active          3421 non-null   int64
 11  Combined_Key    3421 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(4), object(4)
memory usage: 320.8+ KB

In [5]:
df_wb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Series Name   217 non-null    object
 1   Series Code   217 non-null    object
 2   Country Name  217 non-null    object
 3   Country Code  217 non-null    object
 4   Population    216 non-null    float64
dtypes: float64(1), object(4)
memory usage: 8.6+ KB

### Joining renaming and saving

In [8]:
#first look at the first 10 rows of both df & df_wb dataset
df.head(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-03-26 23:48:35,34.223334,-82.461707,3,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-03-26 23:48:35,30.295065,-92.414197,3,0,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-03-26 23:48:35,37.767072,-75.632346,2,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-03-26 23:48:35,43.452658,-116.241552,39,0,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-03-26 23:48:35,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"
5,21001.0,Adair,Kentucky,US,2020-03-26 23:48:35,37.104598,-85.281297,0,0,0,0,"Adair, Kentucky, US"
6,29001.0,Adair,Missouri,US,2020-03-26 23:48:35,40.190586,-92.600782,1,0,0,0,"Adair, Missouri, US"
7,40001.0,Adair,Oklahoma,US,2020-03-26 23:48:35,35.884942,-94.658593,2,0,0,0,"Adair, Oklahoma, US"
8,8001.0,Adams,Colorado,US,2020-03-26 23:48:35,39.874321,-104.336258,50,0,0,0,"Adams, Colorado, US"
9,16003.0,Adams,Idaho,US,2020-03-26 23:48:35,44.893336,-116.454525,0,0,0,0,"Adams, Idaho, US"

In [9]:
df_wb.head(10)

,Series Name,Series Code,Country Name,Country Code,Population
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,37172386.0
1,"Population, total",SP.POP.TOTL,Albania,ALB,2866376.0
2,"Population, total",SP.POP.TOTL,Algeria,DZA,42228429.0
3,"Population, total",SP.POP.TOTL,American Samoa,ASM,55465.0
4,"Population, total",SP.POP.TOTL,Andorra,AND,77006.0
5,"Population, total",SP.POP.TOTL,Angola,AGO,30809762.0
6,"Population, total",SP.POP.TOTL,Antigua and Barbuda,ATG,96286.0
7,"Population, total",SP.POP.TOTL,Argentina,ARG,44494502.0
8,"Population, total",SP.POP.TOTL,Armenia,ARM,2951776.0
9,"Population, total",SP.POP.TOTL,Aruba,ABW,105845.0

In [10]:
#now merge the two datasets:
df_merged = df.merge(df_wb, left_on = 'Country_Region', right_on='Country Name', how='left')

In [11]:
# filter unmatched countries
df_merged = df_merged[df_merged['Population']>0]

In [12]:
#add a column: 
df_merged['bevestigd per 1M inwoners'] =  df_merged['Confirmed'] / (df_merged['Population']/1000000)

In [13]:
#zoek NL in dit lijstje
df_merged.sort_values('bevestigd per 1M inwoners', ascending=False).head(30)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Series Name,Series Code,Country Name,Country Code,Population,bevestigd per 1M inwoners
3385,NaN,NaN,NaN,San Marino,2020-03-26 23:48:18,43.942400,12.457800,208,21,4,183,San Marino,"Population, total",SP.POP.TOTL,San Marino,SMR,33785.0,6156.578363
3253,NaN,NaN,NaN,Andorra,2020-03-26 23:48:18,42.506300,1.521800,224,3,1,220,Andorra,"Population, total",SP.POP.TOTL,Andorra,AND,77006.0,2908.864244
3345,NaN,NaN,NaN,Luxembourg,2020-03-26 23:48:18,49.815300,6.129600,1453,9,6,1438,Luxembourg,"Population, total",SP.POP.TOTL,Luxembourg,LUX,607728.0,2390.872232
3321,NaN,NaN,NaN,Iceland,2020-03-26 23:48:18,64.963100,-19.020800,802,2,82,718,Iceland,"Population, total",SP.POP.TOTL,Iceland,ISL,353574.0,2268.266332
3343,NaN,NaN,NaN,Liechtenstein,2020-03-26 23:48:18,47.140000,9.550000,56,0,0,56,Liechtenstein,"Population, total",SP.POP.TOTL,Liechtenstein,LIE,37910.0,1477.182801
3400,NaN,NaN,NaN,Switzerland,2020-03-26 23:48:18,46.818200,8.227500,11811,191,131,11489,Switzerland,"Population, total",SP.POP.TOTL,Switzerland,CHE,8516543.0,1386.830314
3328,NaN,NaN,NaN,Italy,2020-03-26 23:48:18,41.871940,12.567380,80589,8215,10361,62013,Italy,"Population, total",SP.POP.TOTL,Italy,ITA,60431283.0,1333.564273
3395,NaN,NaN,NaN,Spain,2020-03-26 23:48:18,40.463667,-3.749220,57786,4365,7015,46406,Spain,"Population, total",SP.POP.TOTL,Spain,ESP,46723749.0,1236.758634
3355,NaN,NaN,NaN,Monaco,2020-03-26 23:48:18,43.733300,7.416700,33,0,1,32,Monaco,"Population, total",SP.POP.TOTL,Monaco,MCO,38682.0,853.109974
3258,NaN,NaN,NaN,Austria,2020-03-26 23:48:18,47.516200,14.550100,6909,49,112,6748,Austria,"Population, total",SP.POP.TOTL,Austria,AUT,8847037.0,780.939426
3368,NaN,NaN,NaN,Norway,2020-03-26 23:48:18,60.472000,8.468900,3369,14,6,3349,Norway,"Population, total",SP.POP.TOTL,Norway,NOR,5314336.0,633.945614
3265,NaN,NaN,NaN,Belgium,2020-03-26 23:48:18,50.833300,4.469936,6235,220,675,5340,Belgium,"Population, total",SP.POP.TOTL,Belgium,BEL,11422068.0,545.873129
3309,NaN,NaN,NaN,Germany,2020-03-26 23:48:18,51.165691,10.451526,43938,267,5673,37998,Germany,"Population, total",SP.POP.TOTL,Germany,DEU,82927922.0,529.833607
3305,NaN,NaN,NaN,France,2020-03-26 23:48:18,46.227600,2.213700,29155,1696,4948,22511,France,"Population, total",SP.POP.TOTL,France,FRA,66987244.0,435.232117
3362,NaN,NaN,NaN,Netherlands,2020-03-26 23:48:18,52.132600,5.291300,7431,434,3,6994,Netherlands,"Population, total",SP.POP.TOTL,Netherlands,NLD,17231017.0,431.257192
3300,NaN,NaN,NaN,Estonia,2020-03-26 23:48:18,58.595300,25.013600,538,1,8,529,Estonia,"Population, total",SP.POP.TOTL,Estonia,EST,1320884.0,407.302988
3326,NaN,NaN,NaN,Ireland,2020-03-26 23:48:18,53.142400,-7.692100,1819,19,5,1795,Ireland,"Population, total",SP.POP.TOTL,Ireland,IRL,4853506.0,374.780623
3377,NaN,NaN,NaN,Portugal,2020-03-26 23:48:18,39.399900,-8.224500,3544,60,43,3441,Portugal,"Population, total",SP.POP.TOTL,Portugal,PRT,10281762.0,344.688002
3290,NaN,NaN,NaN,Denmark,2020-03-26 23:48:18,56.263900,9.501800,1877,41,1,1835,Denmark,"Population, total",SP.POP.TOTL,Denmark,DNK,5797446.0,323.763257
3327,NaN,NaN,NaN,Israel,2020-03-26 23:48:18,31.046051,34.851612,2693,8,68,2617,Israel,"Population, total",SP.POP.TOTL,Israel,ISR,8883800.0,303.136045
3261,NaN,NaN,NaN,Bahrain,2020-03-26 23:48:18,26.027500,50.550000,458,4,204,250,Bahrain,"Population, total",SP.POP.TOTL,Bahrain,BHR,1569439.0,291.824021
3399,NaN,NaN,NaN,Sweden,2020-03-26 23:48:18,60.128161,18.643501,2840,77,16,2747,Sweden,"Population, total",SP.POP.TOTL,Sweden,SWE,10183175.0,278.891407
3350,NaN,NaN,NaN,Malta,2020-03-26 23:48:18,35.937500,14.375400,134,0,2,132,Malta,"Population, total",SP.POP.TOTL,Malta,MLT,483530.0,277.128617
3392,NaN,NaN,NaN,Slovenia,2020-03-26 23:48:18,46.151200,14.995500,562,6,10,546,Slovenia,"Population, total",SP.POP.TOTL,Slovenia,SVN,2067372.0,271.842707
3378,NaN,NaN,NaN,Qatar,2020-03-26 23:48:18,25.354800,51.183900,549,0,43,506,Qatar,"Population, total",SP.POP.TOTL,Qatar,QAT,2781677.0,197.362958
3413,NaN,NaN,NaN,United Kingdom,2020-03-26 23:48:18,55.378100,-3.436000,11658,578,135,10945,United Kingdom,"Population, total",SP.POP.TOTL,United Kingdom,GBR,66488991.0,175.337298
3304,NaN,NaN,NaN,Finland,2020-03-26 23:48:18,61.924110,25.748151,958,5,10,943,Finland,"Population, total",SP.POP.TOTL,Finland,FIN,5518050.0,173.612055
3293,NaN,NaN,NaN,Dominica,2020-03-26 23:48:18,15.415000,-61.371000,11,0,0,11,Dominica,"Population, total",SP.POP.TOTL,Dominica,DMA,71625.0,153.577661
3371,NaN,NaN,NaN,Panama,2020-03-26 23:48:18,8.538000,-80.782100,558,8,2,548,Panama,"Population, total",SP.POP.TOTL,Panama,PAN,4176873.0,133.592762
3339,NaN,NaN,NaN,Latvia,2020-03-26 23:48:18,56.879600,24.603200,244,0,1,243,Latvia,"Population, total",SP.POP.TOTL,Latvia,LVA,1926542.0,126.651794

In [14]:
#hernoem de kolom 'Population' naar 'Inwoneraantal'
df_merged= df_merged.rename(columns={"Population": "Inwoneraantal"})

In [18]:
# selecteer alleen de kolommen 'Country Name','Confirmed', 'bevestigd per 1M inwoners'
df_merged = df_merged.loc[:,['Country Name','Confirmed', 'bevestigd per 1M inwoners']]

In [19]:
#sla op als csv
df_merged.to_csv('output.csv')

In [20]:
#bekijk de csv
nieuwe_csv = pd.read_csv('output.csv')
nieuwe_csv.head(10)

   Unnamed: 0    Country Name  Confirmed  bevestigd per 1M inwoners
0        3166          Canada        486                  13.114274
1        3168           China        990                   0.710834
2        3169     Netherlands         28                   1.624977
3        3170       Australia         53                   2.120647
4        3171           China        566                   0.406396
5        3172  United Kingdom         15                   0.225601
6        3173          Canada        725                  19.563475
7        3174  United Kingdom          8                   0.120321
8        3175  United Kingdom         66                   0.992646
9        3176           China        578                   0.415012