## Tias Data Engineering
Exercise 6: More filtering and Selecting

In [1]:
#importing the pandas library
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
corona_data_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-19-2020.csv"
df = pd.read_csv(corona_data_url)
df['Last Update'] = pd.to_datetime(df['Last Update'])

In [3]:
#selecting one column:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  133 non-null    object
 1   Country/Region  292 non-null    object
 2   Last Update     292 non-null    datetime64[ns]
 3   Confirmed       292 non-null    int64
 4   Deaths          292 non-null    int64
 5   Recovered       292 non-null    int64
 6   Latitude        292 non-null    float64
 7   Longitude       292 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 18.4+ KB

### Filtering and selecting

getting values, subsets and aggregations:

In [4]:
#select columns Confirmed & Country/Region
df[['Confirmed','Country/Region']]

     Confirmed         Country/Region
0        67800                  China
1        41035                  Italy
2        18407                   Iran
3        17963                  Spain
4        15320                Germany
..         ...                    ...
287          0                 Jersey
288          0            Puerto Rico
289          0  Republic of the Congo
290          0            The Bahamas
291          0             The Gambia

[292 rows x 2 columns]

In [5]:
#selecting row 10 - 20
df.iloc[10:20,]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
10,Netherlands,Netherlands,2020-03-19 14:53:06,2460,76,2,52.1326,5.2913
11,NaN,Austria,2020-03-19 14:53:05,2013,6,9,47.5162,14.5501
12,NaN,Belgium,2020-03-19 11:13:17,1795,21,31,50.5039,4.4699
13,NaN,Norway,2020-03-19 17:13:14,1746,7,1,60.4720,8.4689
14,NaN,Sweden,2020-03-19 15:13:27,1439,11,16,60.1282,18.6435
15,Guangdong,China,2020-03-19 01:13:06,1378,8,1318,23.3417,113.4244
16,Washington,US,2020-03-19 23:43:04,1376,74,0,47.4009,-121.4905
17,Henan,China,2020-03-14 09:53:08,1273,22,1250,33.8820,113.6140
18,Zhejiang,China,2020-03-19 10:13:14,1233,1,1217,29.1832,120.0934
19,Denmark,Denmark,2020-03-19 17:13:42,1151,6,1,56.2639,9.5018

In [6]:
# select the last 10 rows
df.iloc[-10:,]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
282,Mayotte,France,2020-03-18 14:33:15,0,0,0,-12.8431,45.1383
283,Reunion,France,2020-03-18 14:33:15,0,0,0,-21.1351,55.2471
284,NaN,Greenland,2020-03-19 09:33:04,0,0,0,72.0000,-40.0000
285,NaN,Guam,2020-03-18 19:14:33,0,0,0,13.4443,144.7937
286,NaN,Guernsey,2020-03-17 18:33:03,0,0,0,49.4500,-2.5800
287,NaN,Jersey,2020-03-17 18:33:03,0,0,0,49.1900,-2.1100
288,NaN,Puerto Rico,2020-03-17 16:13:14,0,0,0,18.2000,-66.5000
289,NaN,Republic of the Congo,2020-03-17 21:33:03,0,0,0,-1.4400,15.5560
290,NaN,The Bahamas,2020-03-19 12:13:38,0,0,0,24.2500,-76.0000
291,NaN,The Gambia,2020-03-18 14:13:56,0,0,0,13.4667,-16.6000

In [7]:
#filter rows on value:
df[df['Confirmed']<10]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
210,Grand Princess,Canada,2020-03-18 11:53:04,9,0,0,37.6489,-122.6655
211,NaN,Cote d'Ivoire,2020-03-19 01:03:46,9,0,1,7.5400,-5.5471
212,NaN,Guatemala,2020-03-19 17:13:24,9,1,0,15.7835,-90.2308
213,NaN,Trinidad and Tobago,2020-03-19 10:53:03,9,0,0,10.6918,-61.2225
214,Alaska,US,2020-03-19 02:33:09,9,0,0,61.3707,-152.4044
...,...,...,...,...,...,...,...,...
287,NaN,Jersey,2020-03-17 18:33:03,0,0,0,49.1900,-2.1100
288,NaN,Puerto Rico,2020-03-17 16:13:14,0,0,0,18.2000,-66.5000
289,NaN,Republic of the Congo,2020-03-17 21:33:03,0,0,0,-1.4400,15.5560
290,NaN,The Bahamas,2020-03-19 12:13:38,0,0,0,24.2500,-76.0000
291,NaN,The Gambia,2020-03-18 14:13:56,0,0,0,13.4667,-16.6000

## Exercises

In [8]:
# select the column 'Longitude'. Make sure the output is a dataframe using type()
print(df[['Longitude']])

print(type(df[['Longitude']]))

Longitude
0     112.2707
1      12.5674
2      53.6880
3      -3.7492
4      10.4515
..         ...
287    -2.1100
288   -66.5000
289    15.5560
290   -76.0000
291   -16.6000

[292 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>

In [9]:
# using iloc, select row 0 up to 20, for the first 3 columns
df.iloc[:20,:3]

    Province/State  Country/Region         Last Update
0            Hubei           China 2020-03-19 10:13:14
1              NaN           Italy 2020-03-19 17:43:03
2              NaN            Iran 2020-03-19 11:33:29
3              NaN           Spain 2020-03-19 20:13:08
4              NaN         Germany 2020-03-19 20:13:08
5           France          France 2020-03-19 20:43:02
6              NaN    Korea, South 2020-03-19 02:13:17
7         New York              US 2020-03-19 23:43:04
8              NaN     Switzerland 2020-03-19 21:13:15
9   United Kingdom  United Kingdom 2020-03-19 17:13:27
10     Netherlands     Netherlands 2020-03-19 14:53:06
11             NaN         Austria 2020-03-19 14:53:05
12             NaN         Belgium 2020-03-19 11:13:17
13             NaN          Norway 2020-03-19 17:13:14
14             NaN          Sweden 2020-03-19 15:13:27
15       Guangdong           China 2020-03-19 01:13:06
16      Washington              US 2020-03-19 23:43:04
17           Henan           China 2020-03-14 09:53:08
18        Zhejiang           China 2020-03-19 10:13:14
19         Denmark         Denmark 2020-03-19 17:13:42

In [11]:
# using iloc, and then loc, select the last 20 records, for columns 'Confirmed' & 'Latitude'
df.iloc[-20:].loc[:,['Confirmed','Latitude']]

     Confirmed  Latitude
272          1   12.8654
273          1   12.9843
274          1    5.1521
275          1    3.9193
276          1    8.6195
277          1   37.0902
278          1   16.7425
279          0   35.4437
280          0    4.0000
281          0   16.2500
282          0  -12.8431
283          0  -21.1351
284          0   72.0000
285          0   13.4443
286          0   49.4500
287          0   49.1900
288          0   18.2000
289          0   -1.4400
290          0   24.2500
291          0   13.4667

In [13]:
# using sort_values() and then mean(), determine the average amount of Confirmed cases in the top 10 Countries
df.sort_values('Confirmed', ascending=False).iloc[:10].mean()

Confirmed    19209.00000
Deaths         923.90000
Recovered     7068.40000
Latitude        42.34022
Longitude       24.50524
dtype: float64

In [14]:
#give a list of countries with more than 1000 recovered patiens
df[df['Recovered'] > 1000].loc[:,['Country/Region']]

   Country/Region
0           China
1           Italy
2            Iran
3           Spain
6    Korea, South
15          China
17          China
18          China
20          China

In [19]:
# compare the amount of deaths above and below the equator: hint: Latitude above 0 is North of the equator, use sum()
print("above equator: " + str(df[df['Latitude']>0].loc[:,['Deaths']].sum()))
print("below equator: " + str(df[df['Latitude']<0].loc[:,['Deaths']].sum()))
print("on the equator: " + str(df[df['Latitude']==0].loc[:,['Deaths']].sum()))

above equator: Deaths    9824
dtype: int64
below equator: Deaths    43
dtype: int64
on the equator: Deaths    0
dtype: int64